.news_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.news_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
}

.news_text_container {
  text-align: center;

  h2 {
    font-size: 50px;
  }
  p {
    width: 750px;
  }
}

.news_cards_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.news_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  border: 2px solid var(--primary_light_gray);
  transition: all 0.3s linear;

  &:hover {
    border: 2px solid var(--primary_white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
    transition: all 0.3s linear;
  }
}

.news_card_image {
  width: 250px;
}

.news_card_text_container {
  padding: 20px;

  p {
    margin-block-start: 5px !important;
    margin-block-end: 5px !important;
  }

  .news_card_text_title {
    font-size: 18px;
    font-weight: 600;
  }
  .news_card_text_date {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary_light_blue);
    cursor: pointer;
  }
  .news_card_text_text {
    font-size: 12px;
    margin-block-start: 15px !important;
    margin-block-end: 15px !important;
  }
  .news_card_text_more {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary_light_blue);
    cursor: pointer;
  }
}

 // media query MOBILE
 @media (max-width: 431px) {
  .news_wrapper {
    height: auto;
    padding: 20px;
  }

  .news_text_container {
    h2 {
      font-size: 35px;
    }
    p {     
      width: auto;
    }
  }
  .news_cards_wrapper {
    justify-content: center;
  }

  .news_card_container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
